#boite{
    background-color: red;
    margin: 20px;
    padding: 20px;
    width: 150px;
}
.tirelire{
    background-color: yellow;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}